{% extends "/base.html" %}
{% set active_page = "admin" %}
{% set active_link = "admin" %}
{% import "account/_helpers.html" as helper %}
{% import "projects/_helpers.html" as project_helper %}

{% block content %}
<script>
function export_project_handler() {
	var path = "/admin/custom_export_tasks"+document.getElementById("project-list").value;
	var a = document.getElementById("exp-id");
	a.href = path;
}

function report_handler() {
	var path = "/admin/generate_reports"+document.getElementById("rep-proj-list").value;
	var a = document.getElementById("rep-id");
	a.href = path;
}
</script>

<div class="row">
    <div class="span3">
        {{ helper.render_account_local_nav(current_user, active_link) }}
    </div>
    <div class="span9" style="min-height:400px;">
        <h1><strong>{{ _('Admin Site') }}</strong></h1>
        <div class="row-fluid">
            <div id="dashboard" class="span6 well">
                <h2><i class="icon-dashboard"></i> {{_('Dashboard')}}</h2>
                <p>{{_('Internal Statistics')}}</p>
                <a href="{{url_for('admin.dashboard')}}" class="btn btn-primary">
                    {{ _('Go') }} <i class="icon-chevron-right"></i>
                </a>
            </div>
            <div id="dashboard" class="span6 well">
                <h2><i class="icon-dashboard"></i> {{_('Background Jobs')}}</h2>
                <p>{{_('Monitor the background jobs')}}</p>
                <a href="{{url_for('rq_dashboard.overview')}}" class="btn btn-primary">
                    {{ _('Manage') }} <i class="icon-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="row-fluid">
            <div id="featured-apps" class="span6 well">
                <h2><i class="icon-star"></i> {{_('Featured Projects')}}</h2>
                <p>{{_('Show projects on the front page')}}</p>
                <a href="{{url_for('admin.featured')}}" class="btn btn-primary">
                    {{ _('Manage') }} <i class="icon-chevron-right"></i>
                </a>
            </div>
            <div id="categories" class="span6 well">
                <h2><i class="icon-check"></i> {{_('Categories')}}</h2>
                <p>{{_('Manage project categories')}}</p>
                <a href="{{url_for('admin.categories')}}" class="btn btn-primary">
                    {{ _('Manage') }} <i class="icon-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="row-fluid">
            <div id="users" class="span6 well">
                <h2><i class="icon-user"></i> {{_('Administrators')}}</h2>
                <p>{{_('Manage administrators')}}</p>
                <a href="{{url_for('admin.users')}}" class="btn btn-primary">
                    {{ _('Manage') }} <i class="icon-chevron-right"></i>
                </a>
            </div>
            <div id="users-list" class="span6 well">
                <h2><i class="icon-list"></i> {{_('Users')}}</h2>
                <p>{{_('Export a list of users')}}</p>
                <a href="{{url_for('admin.export_users', format='json')}}" class="btn btn-primary">
                    {{ _('JSON') }}
                </a>
                <a href="{{url_for('admin.export_users', format='csv')}}" class="btn btn-primary">
                    {{ _('CSV') }}
                </a>
            </div>
        </div>
		<div class="row-fluid">
            <div id="cust-exp" class="span6 well">
                <h2><i class="icon-user"></i> {{_('Custom Export Tasks')}}</h2>
                <p>{{_('Export completed tasks for selected project')}}</p>
				<select id="project-list" onchange="export_project_handler()">
				{% for c in categories %}
					{% for project in projects[c.short_name] %}
						<option value = {{project.id}}> {{ project.name }}</option>
					{% endfor %}
				{% endfor %}
				</select>
    			<a id="exp-id" href="/admin/custom_export_tasks"+{{project.id}} class="btn btn-primary">
					{{ _('Export') }} <i class="icon-chevron-right"></i>
                </a>				
           </div>
            <div id="rep-qualified-res" class="span6 well">
                <h2><i class="icon-user"></i> {{_('Report')}}</h2>
                <p>{{_('Generate detailed report for selected project')}}</p>
				<select id="rep-proj-list" onchange="report_handler()">
				{% for c in categories %}
					{% for project in projects[c.short_name] %}
						<option value = {{project.id}}> {{ project.name }}</option>
					{% endfor %}
				{% endfor %}
				</select>
				<a id="rep-id" href="#" class="btn btn-primary">
                    {{ _('Report') }} <i class="icon-chevron-right"></i>
                </a>
            </div>			
        </div>
    </div>
</div>
{% endblock %}
